*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, sans-serif;
}
ul{
    list-style-type:none;
    text-align: center;

    
}
li{
    display: inline-block;
    padding: 0 40px;
    color: white;
    font-weight: 600;
}
/* ID*/
#logo{
    width: 50%;
    float: center;
}

#accedi{
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    color: #3161E0;
    font-weight: 600;
    font-size: 15px;
    border: none;
    float: right;
}
/* CLASSI */

/*BACKGROUND COLOR*/
.container1500{
    max-width: 1500px;
    margin: 0 auto;
}

.bgcolor-3161E0{
    background-color: #255EE9;
}
.align-items-center{
    align-items: center;
}
.download{
    background-image: url('../img/jumbo.png');
    background-size: cover;
}
.container1200{
    max-width: 1200px;
    margin: 0 auto;
    
}
.row{
    display: flex;
}
.row1200{
    height: 100%;
    background-color: rgb(224, 131, 224);
}
.row5{
    height: 100%;
    background-color: rgb(5, 131, 42);

}
.rowfoot{
    display: flex;
    gap: 90%;
    background-color: rgb(117, 226, 103);
}
.col20{
    width: calc(100%/5);
     
    
}
.margin{
    margin: 15px 0;
}
.col60{
    width: calc(100%/5*3);
    
      
}
.col40{
    width: calc(100%/5*2);
      
      
}
.col33{
    width: calc(100%/6*2);
}
.col16{
    width: calc(100%/6);  
}
.col10{
    width: calc(100%/20);
}

.height400{
    height: 400px;
}
.height600{
    height: 600px;
}
p{
    padding: 7px;
    font-size: 20px;
}
.align-mid{
    text-align: center;
}
.align-right{
    text-align: right;
}

.bgcolor-azzurro{
    background-color: rgb(135, 213, 236);
}
.bgcolor-pink{
    background-color: pink;
}
.bgcolor-gray{
    background-color: gray;
}
.bgcolor-black{
    background-color: rgb(27, 26, 26);
}
/*PADDING*/
.paddingtop30{
    padding: 30px;
}
.paddingright50{
    padding-right: 50px;
}

.padding50{
    padding: 100px;
}
.paddingfoot{
    padding: 15px 0;
}