*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*TAGS*/
body
{
    font-family: Arial, sans-serif;
}
ul{
    list-style-type:none;
    text-align: center;

    
}
h1{
    
    font-size: 60px;
    
}
li{
    display: inline-block;
    padding: 0 40px;
    color: white;
    font-weight: 600;
}
p{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
button{
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
}

/* ID*/

#logo{
    width: 50%;
    float: center;
}

#accedi{
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    color: #3161E0;
    font-weight: 600;
    font-size: 15px;
    border: none;
    float: right;
}
/* CLASSI */


.container1500{
    max-width: 1500px;
    margin: 0 auto;
}



.download{
    background-image: url('../img/jumbo.png');
    background-size: cover;
}
.container900{
    max-width: 900px;
    margin: 0 auto;
    
}
.row{
    display: flex;
    
}
.row900{
    height: 100%;
}
.row5{
    height: 100%;
    background-color: rgb(5, 131, 42);

}
.rowfoot{
    display: flex;
    gap: 90%;
    background-color: rgb(117, 226, 103);
}
.col20{
    width: calc(100%/5);
     
    
}
.margin{
    margin: 15px 0;
}
.col60{
    width: calc(100%/5*3);
    
      
}
.col40{
    width: calc(100%/5*2);
      
      
}
.col33{
    width: calc(100%/6*2);
}
.col16{
    width: calc(100%/6);  
}
.col10{
    width: calc(100%/20);
}



/*PADDING*/
.paddingtop30{
    padding: 30px;
}
.paddingright50{
    padding-right: 50px;
}
.padding-top50{
    padding-top: 50px;
}
.padding100{
    padding: 100px;
}
.paddingfoot{
    padding: 15px 0;
}
.paddingdownload{
    padding: 40px 20% 0 20%;
}


/*MARGIN*/
.margin{
    margin: 15px 0;
}
/*HEIGHT*/
.height400{
    height: 400px;
}
.height600{
    height: 600px;
}

/*BACKGROUND COLOR*/
.bgcolor-azzurro{
    background-color: rgb(135, 213, 236);
}
.bgcolor-pink{
    background-color: pink;
}
.bgcolor-gray{
    background-color: gray;
}
.bgcolor-black{
    background-color: rgb(27, 26, 26);
}
.bgcolor-3161E0{
    background-color: #255EE9;
}

/*ALIGN*/
.align-mid{
    text-align: center;
}
.align-right{
    text-align: right;
}
.align-items-center{
    align-items: center;
}

/*COLOR*/
.white{
    color: white;
}

.space-between{
    display:flex;
    justify-content: space-between;
}
